.pagination {

    button {
        font-size: 12px;
        line-height: 14.52px;
        width: 38px;
        height: 38px;
        background-color: #fff;

        &:is(.active) {
            background-color: #3FE29E;
            color: #fff;
        }
    }
}