@media screen and (max-width:1024px) {
    .category--desktop {
        display: none;
    }

    .category--mobile {
        display: block;
    }

}

@media screen and (min-width:1025px) {
    .category--desktop {
        display: block;
    }

    .category--mobile {
        display: none;
    }
}