@media screen and (max-width:768px) {
    .category--desktop {
        display: none;
    }

    .category--mobile {
        display: block;
    }

}

@media screen and (min-width:769px) {
    .category--desktop {
        display: block;
    }

    .category--mobile {
        display: none;
    }
}