.checkout-page {
    .checkout-footer {
        position: fixed;
        right: 0;
        bottom: 49px;
        left: 0;
        display: grid;
        grid-template-columns: 1fr 4fr;
        background-color: #fff;
        border-top: 0.5px solid #828282;
        border-bottom: 0.5px solid #828282;
        font-size: 12px;
        line-height: 18px;
    }

    .checkout-border-top {
        border-top: 0.6px solid #828282;
    }

    .checkout-card-title {
        h3 {
            font-size: 18px;
            font-weight: 500;
            line-height: 22.68px;
        }
    }

    .checkout-card-actions {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .btn {
        padding-block: 6px;
        font-size: 15px;
        font-weight: 500;
        line-height: 22.5px;
        border-radius: 8px;
    }


    .btn-secondary {
        border: 0.5px solid #454545;

        &:not(:disabled):hover {
            background-color: hsla(0, 0%, 95%);
        }

        &:disabled {
            opacity: .5;
            cursor: not-allowed;
        }

    }

    .btn-success {
        background: var(--primary-theme-color);
        color: #fff;

        &:hover {
            background: hsl(0, 0%, 85%);
            color: var(--primary-theme-color);
        }
    }

    .dropdown-content {
        display: none;

        &:is(.open) {
            display: block;
        }
    }

    .add-address {
        button {
            display: inline-flex;
            justify-content: center;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            border: 1px solid #454545;
        }
    }

    .address-list {
        .disk {
            display: inline-block;
            width: 11px;
            height: 11px;
            border: 1px solid #454545;
            border-radius: 50%;

            &:is(.active) {
                background-color: var(--primary-theme-color);
                border: 1px solid var(--primary-theme-color);
            }
        }


    }

    .cash-input {
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #828282;
        border-radius: 8px;
        padding: 8px;
    }

    .order-summary {
        h3 {
            font-size: 18px;
            font-weight: 500;
            line-height: 22.68px;
        }
    }
}