.wishlist--mobile {

    .filter {
        font-size: 11px;
        line-height: 13.86px;
    }

}

@media screen and (max-width:768px) {
    .wishlist--desktop {
        display: none;
    }

    .wishlist--mobile {
        display: block;

    }

}

@media screen and (min-width:769px) {
    .wishlist--desktop {
        display: block;
    }

    .wishlist--mobile {
        display: none;
    }
}