@media screen and (max-width:1024px) {
    .wishlist--desktop {
        display: none;
    }

    .wishlist--mobile {
        display: block;

    }

}

@media screen and (min-width:1025px) {
    .wishlist--desktop {
        display: block;
    }

    .wishlist--mobile {
        display: none;
    }
}