.order-products {
    figure {
        width: 55px;
        height: 70px;
        background-color: #d9d9d9;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    li:not(:last-child) {
        border-bottom: 0.6px solid #828282;
    }
}

@media screen and (max-width:768px) {
    .order-detail--desktop {
        display: none;
    }

    .order-detail--mobile {
        display: block;
    }
}

@media screen and (min-width:769px) {
    .order-detail--desktop {
        display: block;
    }

    .order-detail--mobile {
        display: none;
    }
}