.profile-page {
    display: flex;
    padding: 60px 10px 50px;
    height: 100vh;
    color: #454545;
    background-color: #f1f1f1;
    flex-direction: column;
    gap: 8px;

    .profile-header {
        display: grid;
        grid-template-columns: 6fr 1fr;
        border-radius: 8px;
    }

    .profile-photo {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #c1c1c1;
    }

    .profile-info {
        display: flex;
        align-items: center;
        gap: 10px;
        border-right: 0.4px solid #828282;

    }

    .user-name {
        font-size: 14px;
        line-height: 24px;
    }

    .user-email {
        font-size: 11px;
    }

    .contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        width: 100%;
    }

    .btn-with-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 8px;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0px 2px 4px 0px #00000040;
    }

    .links,
    .sosial-links {
        background-color: #fff;
        border-radius: 8px;
        padding: 12px;
        box-shadow: 0px 2px 4px 0px #00000040;
        font-size: 14px;
        line-height: 17.64px;
    }

    .main-links {
        border-bottom: 0.6px solid #828282;
    }

    .sign-out-link {
        cursor: pointer;
    }

    .links {
        li:hover {
            color: #3FE29E;
            transition: ease .2s;
        }
    }

    figure {
        height: 22px;

        img {
            height: 100%;
        }
    }



    .questions {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0px 2px 4px 0px #00000040;
        font-size: 14px;
        line-height: 17.64px;

        ul li {
            border-bottom: 0.4px solid #828282;

            &:first-child {
                border-bottom: 0.6px solid #828282;
            }
        }
    }

    .dropdown-content {
        display: none;

        &:is(.open) {
            display: block;
        }
    }
}