.header--mobile {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    padding-bottom: 8px;
    background-color: #fff;
}

.search-box {
    display: grid;
    grid-template-columns: auto 36px 36px;
    gap: 3px;

    input {
        height: 36px;
        outline: none;
    }

    input,
    button {
        border: 0.4px solid #828282;
        border-radius: 2px;
        color: #828282;
    }

    .btn-search {
        display: grid;
        place-items: center;
    }

}