@media screen and (max-width:1024px) {
    .order-list--desktop {
        display: none;
    }

    .order-list--mobile {
        display: block;
    }

}

@media screen and (min-width:1025px) {
    .order-list--desktop {
        display: block;
    }

    .order-list--mobile {
        display: none;
    }
}