@media screen and (max-width:768px) {
    .order-list--desktop {
        display: none;
    }

    .order-list--mobile {
        display: block;
    }

}

@media screen and (min-width:769px) {
    .order-list--desktop {
        display: block;
    }

    .order-list--mobile {
        display: none;
    }
}