.products-list {
    display: grid;
    gap: 8px;
    padding: 10px;
    grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 375px) and (max-width: 524px) {
    .products-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 525px) and (max-width: 768px) {
    .products-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .products-list {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .products-list {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (min-width: 1441px) {
    .products-list {
        grid-template-columns: repeat(6, 1fr);
    }
}